
.homeCover{
    
    width: 100%;
    height: 100vh;
    background-image:url(../Images/hands.png);
    background-size: cover;
    background-position: center;
    
}
/* .container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 7rem;
    padding: 0 2rem;

} */
.profilepic{
    height: 120px;
    width: 120px;
    border-radius: 60px;
    margin: 0 auto;
}
/* .img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */
.login-container{
    display: flex;
    /* align-items: center;
    text-align: center; */
    background: rgba(248, 246, 246, 0.92);
border-radius: 15px;
width: 800px;
height: 404px;
margin: 0 auto;
padding: 0 4rem;
/* top: 50px;
left: 50px; */
}
.half{
    width: 50%;
    padding: 0 4rem;
    
}
.half1{
    width: 50%;
    padding: 0 4rem;
}
.line1{
    border: 0.5px solid;
    color: rgb(192, 189, 189);
    height: 100%;
}
.heading{
    top: 289px;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
color: rgba(2, 37, 162, 0.97);
}


/* .img {
    width: 500px;
} */

.form{
    width: 360px;
}
.avatar{
    width: 300px;
    height: 200px;
}
.form h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}
.input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 400px;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
/* .input-div:after,.input-div:before{
    content:'';
    position: absolute;
    bottom: -2px;
    width: 50%;
    height: 2px;
    background-color: #4A1DD6;
} */
/* .input-div:after{
    right: 50%;
}
.input-div:before{
    left: 50%;
} */
.input-div.focus .i i{
    color: #0a0a0a;
}
/* .input-div.focus div h5{
    top: -30px;
    font-size: 15px;
} */
.input-div.one{
    margin-top: 0;
  border-width: 1;
  
flex-direction: row;
background: #fff;
/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
border-radius: 10px;
width: 329px;
height: 55px;
}
.input-div.two{
    margin-bottom: 4px;
    border-width: 1;
    width: 329px;
height: 55px;
    background: #fff;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 10px;
}
.i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f0d0d;
}
.i i{
    color: #0f0d0d;
}
.input-div > div{
position: relative;
height: 45px;
}
.input-div > div h5{
    position: absolute;
    left: 10px;
    top:50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    /* display: none; */
    transition: .3s;
}
.input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
}
a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: 3s;

}
a:hover{
    color: #4A1DD6;
}
.btn{
    display: block;
    width: 224px;
    height: 45px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    color: aliceblue;
    outline: none;
    border: none;
    background-image: linear-gradient(to right,#4A1DD6,#4A1DD6,#4A1DD6);
}

@media screen and (max-width:1050px){
    .container{
        grid-gap: 5rem;
    }
}
@media screen and (max-width:1000px) {
    form{
        width: 290px;
    }
    form h2{
        font-size: 2.4rem;
        margin: 8px 0;

    }
    /* .img img{
        width: 400px;
    } */
}
@media screen and (max-width:900px){
    .avatar{
        display: none;

    }
    .line1{
        display: none;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .login-container{
        justify-content: center;
        width: 500px;
    }
    .heading{
        display: none;
    }
}